---
import ArticleCard from "@components/News/ArticleCard.astro";
import HtmlBase from "@layouts/HtmlBase.astro";
import { getCollection } from "astro:content";
const articles = (await getCollection("news")).filter(
  (article) =>
    (!article.data.draft || process.env.NODE_ENV === "development") &&
    !article.data.hidden
);
---

<HtmlBase title="News">
  <div class="flex flex-row flex-wrap p-6 gap-4">
    {
      articles.map((a) => {
        return <ArticleCard article={a} />;
      })
    }
  </div>
</HtmlBase>
