---
export interface Props {
  href: string | undefined;
  class: string | undefined;
}
const { href, class: _class } = Astro.props;
---
{href ? <a href={href} class={_class}><slot/></a> : <><slot/></>}
